@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*,::before,::after{margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
canvas,img,video{ vertical-align: bottom;}
ul{ list-style: none; padding: 0;}
button{ cursor: pointer; padding: 0;}
label{ display: inline-block;}
:disabled{ cursor: not-allowed;}


.kus{ font-family: "Kaushan Script", cursive;; }
html{
    font-size: 15px;
    --ff:"Montserrat", sans-serif;
    --red:#f38181;
    --green:#95e1d3;
    --grad:linear-gradient(#f38181e6, #fce38ae6);
    --text: 15px/24px roboto, sans-serif;
}

body{
    font:16px/1.3 var(--ff);
}

.container{ max-width: 1230px; margin: auto; padding: 0 1rem;}

.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem;}
[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem; }
.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.3336%; max-width: 33.3336%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-6{ flex-basis: 50%; max-width: 50%;}
.col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-11{ flex-basis: 91.66%; max-width: 91.66%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.col-auto{ flex-basis: 20%; max-width: 20%;}
.flex{ display: flex;}
.justify-space-between{ justify-content: space-between;}
.justify-right{ justify-content: right;}
.justify-center{ justify-content: center;}
.align-items{ align-items: center;}


/* layout */
.wrap-1{ padding: 25px 0; background: url(../img/bg1-1.webp) no-repeat center/cover; color: #fff;}
.wrap-1 h1{ font-size: 30px; }
.wrap-1 h1 a{ color: inherit; }
.wrap-1 nav li{ margin: 0 28px;}
.wrap-1 nav a{ font-size: 14px; display: block; padding: 8px 0; color: inherit; border-bottom: 3px solid transparent; }
.wrap-1 nav a.active{ color: #fce38a; border-bottom: 3px solid; }
.wrap-1 .menu li{ margin: 0 20px;}
.wrap-1 .menu a{ color: inherit; display: block;}

.banner{ text-align: center; padding: 165px 1rem 0 1rem; }
.sep{ width: 60px; height: 3px; margin: auto;}
.bg-white{ background: #fff; margin: 50px auto;}
.bg-red{ background: var(--red); margin: 40px auto;}
.banner .kus{ font-size: 5rem;}
.banner p.lg{ font-size: 10rem; font-weight: bold; line-height: 1;}
.banner a.link{ display: inline-block; width: 160px; border: 3px solid; color: inherit; line-height: 34px; }
.slide{ display: none;}
.slide.active{ display: block;}
.pager{ margin-top: 157px; text-align: left;}
.pager .flex{ column-gap: 30px;}
.pager .flex li{ flex: 1 1 25%; max-width: 25%; }
.pager ol{ list-style: none; padding: 0;}
.pager li .line{ height: 3px; background: #ffffff80; margin-bottom: 25px; position: relative;}
.pager li.active .line::before{ content: ''; position: absolute; left: 0; top: 0; bottom: 0; background: var(--red); animation: fillbg 4s linear both;}


.wrap-2{ background: #fff; color: #333; text-align: center; padding: 90px 0 60px;}
.kus{ font-size: 24px;}
h2{ font-size: 30px; margin-top: 20px;}
.para{ font: var(--text); color: #999; margin: 40px 0;}
.img-resp{ max-width: 100%; height: auto;}
.about{ position: relative; margin-bottom: 30px;}
.over{ position: absolute; background: var(--grad); inset: 0; color: #fff; opacity: 0; visibility: hidden; transition: .3s; box-shadow: 0 0 #95e1d300; }
.grid{ display: grid; place-items: center; height: 100%;}
.about:hover .over{ opacity: 1; visibility: visible; transform: translate(-10px,-10px); box-shadow: 10px 10px var(--green);}

.wrap-3{ background: var(--green);  text-align: center; color: #fff;}
.wrap-3 span{ font-size: 72px; font-weight: bold;}
.wrap-3 p{ font-size: 14px; margin-bottom: 30px;}
.box{ border-right: 1px solid #ffffff80; padding: 90px 0 60px; }
.wrap-3 .col-auto:first-child .box{ border-left: 1px solid #ffffff80; }



.wrap-4{ background: #fff; color: #333; text-align: center; padding: 90px 0 60px;}
.services{ text-align: left; padding: 40px 0 40px 30px; }
.services h3{ font-size: 14px; color: #999; }
.services p{ font:var(--text); color: #999;  }
.services .icon{ margin-right: 30px;}
.wrap-4 .row{ background: #e5e5e5;} 
.wrap-4 .col-4{ background: #fff;}
.gap-gray{ row-gap: 1px; }



.wrap-5{ background: url(../img/bg2-1.webp) no-repeat center/cover; color: #333; text-align: center; padding: 90px 0 0 0; position: relative;}
.transform{ transform: translate(155px, 60px); position: absolute; left: 50%; bottom: 0; }



.wrap-6{ background: #fff; color: #333; text-align: center; padding: 90px 0;}
.accordion{ text-align: left;}
.accordion li{ border: 1px solid #e5e5e5; margin-bottom: 10px;}
.accordion a{ color: #333; font-size: 14px; display: flex; align-items: center; padding: 15px; border-bottom: 1px solid #e5e5e5; position: relative;}
.accordion a img{ margin-right: 15px;}
.accordion a span{ position: absolute; right: 15px; color: #ccc;  }
.accordion p{ padding: 15px; color: #999; font: italic var(--text); display: none; max-height: 170px; overflow-y: auto;}
.accordion li.active p{ display: block;}
::-webkit-scrollbar {
    width: 5px;
    background: #f5f5f5;
}
 
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 5px;
}


.wrap-7{ background: #f5f5f5; padding: 70px 0;}
.reviews{ padding: 0 112px; position: relative; }
.dp{ display: grid; place-items: center; flex-shrink: 0; width: 150px; height: 150px; border: 3px solid var(--green); margin-right: 60px;}
.reviews .sep{ margin: 15px 15px 15px 0;}
.reviews p{  font: italic var(--text);}
.reviews .review{ display: none; }
.reviews .review.flex{ display: flex;}
.controls{ border: none; background: none; position: absolute; top: 50%; }
.prev{ left: 22px;}
.next{ right: 22px;}

@keyframes fillbg{
    0%{ width: 0;}
    100%{ width: 100%;}
}

.pager p{ font-size: 18px; }
.pager p b{ font-size: 24px; }




.wrap-8{ background: #fff; color: #333; text-align: center; padding: 90px 0; text-align: center;}
.wrap-8 section{ }
.wrap-8 .team{ position: relative;}
.wrap-8 .team:hover .over{ opacity: 1; visibility: visible; transform: translate(-10px,-10px); box-shadow: 10px 10px var(--green);}
.wrap-8 .team .soc a{  display: block; color: var(--red); width: 56px; line-height: 56px; text-align: center; background: #fce38a;}
.wrap-8 .team .soc li:not(:first-child){ border-left: 1px solid var(--red);}
.wrap-8 .team .soc li:hover a{ background: var(--red); color: #fff;}
.team + p{ margin-top: 20px;}


.wrap-9{ background: #f8f8f8; padding: 50px 0; }

.wrap-10{ background: #fff; color: #333; text-align: center; padding: 90px 0; text-align: center;}

/* responsive */
@media screen and (max-width:1220px){
    html{ font-size: 14px;}
}
@media screen and (max-width:980px){
    .col-t-3{ flex-basis: 25%; max-width: 25%;}
    .col-t-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-t-6{ flex-basis: 50%; max-width: 50%;}
    .col-t-12{ flex-basis: 100%; max-width: 100%;}
    .wrap-1 nav li{ margin: 0 20px;}
    .banner p.lg{ font-size: 8rem;}
    .banner{ padding: 100px 1rem;}
}
@media screen and (max-width:767px){
    html{ font-size: 13px;}
    .col-m-6{ flex-basis: 50%; max-width: 50%;}
    .collapse{ display: none;}
    .wrap-3 span{ font-size: 50px;}
    .transform{ transform: translateX(100px) ;}
}
@media screen and (max-width:460px){
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-6{ flex-basis: 50%; max-width: 50%;}
    .col-p-12{ flex-basis: 100%; max-width: 100%;}
    .banner{ padding: 25px 1rem;}
    .banner .kus{ font-size: 3rem;}
    .banner p.lg{ font-size: 4rem;}
    .pager{ margin-top: 70px;}
    .col-auto{ flex-basis: 33.33%; max-width: 50%; }
    .wrap-3 .col-auto:nth-child(4) .box{ border-left: 1px solid #ffffff80; }
    .transform{ width: 50%; height: auto; left: 100%; transform: translate(-100%,90px);}
}